.carousel-container {
    width: 93%; /* Set your desired carousel width */
    margin: 2%;
  }
  
  .Carouselcard {
    width: 98%; /* Square size - adjust as needed */
    height: 250px;
    padding: 0;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  